<!DOCTYPE html>
<html lang="ja">

<head prefix="og:http://ogp.me/ns#">
    <meta charset="UTF-8">
    <meta property="og:title" content="CHUNITHM {{ GAME_VERSION }} 定数表">
    <meta property="og:description" content="自動更新される、わかりやすいCHUNITHM定数表です。">
    <meta property="og:type" content="website">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <title>CHUNITHM {{ GAME_VERSION }} 定数表</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+JP:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <script src="js/main.js"></script>
</head>

<body>
    <h1>CHUNITHM {{ GAME_VERSION }} 定数表</h1>
    <p class="desc">本ページの情報はchunirecおよび譜面定数メインフレーム様のデータに基づきます。楽曲の定数は正確ではない場合があります。</p>
    <p class="desc">GitHub: <a
            href="https://github.com/Qman11010101/constant-table">https://github.com/Qman11010101/constant-table</a></p>
    <!-- <div style="color:white;background-color:#299e1a;margin:10px auto;padding:10px;width:fit-content;">
        <h3>【重要】譜面定数調査ご協力のお願い (2025/12/11更新)</h3>
        <p>現在、譜面定数メインフレーム様がCHUNITHM X-VERSE-Xの譜面定数データ調査を行っております。</p>
        <p>CHUNITHM-NET上でブックマークレットを実行し、ベスト枠等を提供する方式です。</p>
        <p><b>迅速な調査は、迅速な譜面定数の反映に繋がります。</b>ぜひご協力のほどよろしくお願いします。</p>
        <p>（※本サイトは譜面定数メインフレーム様とは無関係です。）</p>

        <p><a href="https://chuni.kichi2004.jp/how-to-contribute">譜面定数調査に参加する</a></p>
    </div>
    <div style="color:white;background-color:#3474d4;margin:10px auto;padding:10px;width:fit-content;">
        <h3>年末アンケート開始</h3>
        <p>毎年末行っている、音ゲーツール置き場に関するアンケートを今年も実施します。</p>
        <p>ツールの認知度や改善点などについて、普段捉えきれていないご意見をお聞かせいただければ幸いです。</p>
        <p>ご協力よろしくお願いします！</p>
        <p><a href="https://forms.gle/3SCrK3LUVeKyZ1RL6" target="_blank"
                style="color: rgb(221, 238, 222); font-weight: bold;">回答する</a></p>
    </div> -->
    <div class="interlink-wrapper">
        <a href="./maimai.html" class="tool-interlink">
            <div>maimai 定数表はこちら</div>
        </a>
        <a href="./ongeki.html" class="tool-interlink">
            <div>オンゲキ 定数表はこちら</div>
        </a>
    </div>
    <div class="control">
        <div class="control-item">
            <input type="checkbox" id="disp_title" checked>
            <label for="disp_title">タイトルの表示</label>
        </div>
        <div class="control-item">
            <input type="checkbox" id="disp_under_exp">
            <label for="disp_under_exp">EXPERT以下の表示</label>
        </div>
    </div>
    <div class="control">
        <p>幅：<input type="number" min="4" max="20" value="8" id="table_width"></p>
    </div>
    <div id="bodywrap">
        <div id="outfield">{{ OUT_FIELD }}</div>
        <div id="copyright">{{ COPYRIGHT }}</div>
        <div class="disclaimer">
            <p>サイト上のロゴ・背景・楽曲ジャケット画像の著作権は、全て著作権所持者に帰属します。</p>
            <p>本サイトは非公式のものであり、株式会社SEGA様及びその関連会社とは一切関係ありません。</p>
        </div>
    </div>
</body>

</html>