<!DOCTYPE html>
<html lang="ja">

<head prefix="og:http://ogp.me/ns#">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <title>CHUNITHM {{ GAME_VERSION }} 定数表</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+JP:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="js/main.js"></script>
</head>

<body>
    <h1>CHUNITHM {{ GAME_VERSION }} 定数表</h1>
    <p class="desc">本ページの情報はchunirecに基づきます。最新の楽曲の定数は正確ではない場合があります。</p>
    <div class="control">
        <div class="control-item">
            <input type="checkbox" id="disp_title" checked>
            <label for="disp_title">タイトルの表示</label>
        </div>
        <div class="control-item">
            <input type="checkbox" id="disp_under_exp">
            <label for="disp_under_exp">EXPERT以下の表示</label>
        </div>
    </div>
    <div class="control">
        <p>幅：<input type="number" min="4" max="20" value="8" id="table_width"></p>
    </div>
    <div id="bodywrap">
        <div id="outfield">{{ OUT_FIELD }}</div>
        <div id="copyright">{{ COPYRIGHT }}</div>
    </div>
</body>

</html>